
/* Initialize footer to stick at bottom */
.wrapper{
    min-height: 100%;
    margin-bottom: -3rem;
}
.footer, .push{
    height: 3rem;
}

/* Header */
.header{
    display: flex;
    background-color: #0C2226;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}
.header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.25s ease-in-out;
    font-size: 20px;
}
.header a:hover{
    color: rgb(123, 158, 170);
    transform: scale(1.2);
}
.icon-link{
    margin-left: 2rem;
    padding: .8rem 1.5rem;
    font-size: 20px;
}
.profile-link{
    margin-right: 2rem;
    font-size: 18px;
}
/* Main Body */
.main{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 85vw;
    min-height: 70vh;
    display: flex;
    background-color: red;
}
.options{
    background-color: #0C2226;
    height: inherit;
    width: 15vw;
    min-width: 12rem;
}
.settings-display{
    background-color: #EAE6E6;
    height: inherit;
    width: 70vw;
    display: flex;
    flex-wrap: wrap-reverse;
}

/* Main Body - Left Options */
.options-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.options-link{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    transition: 0.25s ease-in-out;
}
.options-link:hover{
    color: rgb(123, 158, 170);
    font-size: 22px;
}
.active{
    color: rgb(100, 131, 141);
}
/* Footer */
.footer{
    background-color: #0C2226;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer p{
    margin: 0 0.5rem 0 1rem;
}


/* Responsive */
@media screen and (max-width: 768px){
    .options{
        min-width: 8rem;
    }
    .options-link{
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 12px;
        transition: 0.25s ease-in-out;
    }
    .options-link:hover{
        color: rgb(123, 158, 170);
        font-size: 12px;
    }
}
