/* General */
.club-activity{
    flex-wrap: wrap;
}
.main-area{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 18rem;
}
.main-area h5{
    font-size: 22px;
    font-weight: 500;
    margin: 1rem 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0C2226;
}
.club-search-input,
.activity-search-input{
    height: 2rem;
    padding: .5rem;
    border-radius: .25rem;
    text-decoration: none;
    width: 15rem;
}
.club-search-btn,
.activity-search-btn{
    background-color: rgb(23, 63, 70);
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px #999;
    border: none;
}
.club-search-btn:hover,
.activity-search-btn:hover{
    background-color: #0C2226;
}
.club-search-btn:active,
.activity-search-btn:active{
    transform: translateY(2px);
    background-color: #0C2226;
    box-shadow: none;
}


/* Clubs - Activities List */
.clubs-container,
.activities-container{
    width: 30vw;
    min-width: 18rem;
    max-width: 30rem;
    margin: 1rem;
    background-color: rgb(202, 204, 206);
    border-radius: .5rem;
}
.clubs-list,
.activities-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    max-height: 50vh;
    overflow: auto;
}
.club,
.activity{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    margin: .5rem 6.5rem .5rem 5rem;
    background-color: rgb(250, 250, 250);;
    color: #0C2226;
    align-items: center;
    height: 2rem;
    border-radius: .25rem;
    transition: all 0.5s ease-in-out;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.club-item,
.activity-item{
    flex: 1;
    padding: .5rem .5rem .5rem 1.5rem;
}
.mark-btn, .delete-btn{
    background-color: rgb(23, 63, 70);
    border: none;
    color: white;
    padding: .5rem;
    height: 2rem;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 2px #999;
    width: 2rem;
}
.delete-btn{
    background-color: rgb(214, 90, 90);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.mark-btn:hover{
    background-color: #0C2226;
}
.delete-btn:hover{
    background-color: rgb(167, 69, 69);
}
.mark-btn:active{
    transform: translateY(2px);
    background-color: #0C2226;
    box-shadow: 0 -2px #999;
}
.delete-btn:active{
    transform: translateY(2px);
    background-color: rgb(133, 56, 56);
    box-shadow: 0 -2px #999;
}
.fa-trash, .fa-star{
    pointer-events: none;
}









/* Animation or Class Toggle */
.favorite{
    background-color: rgb(190, 163, 10);
    color: white;
}
.fall-animation{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(23, 63, 70);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0C2226;
  }

