<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <title>Profile Page</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header">
                <a href="#" class="icon-link">MeePo</a>
                <a href="#" class="profile-link">Profile</a>
            </div>
        </header>
        <main class="main">
            <div class="options">
                <ul class="options-links">
                    <li class="active"><a href="index.html" class="options-link">Profile Settings</a></li>
                    <li><a href="clubs-activities.html" class="options-link">Clubs & Activities</a></li>
                    <li><a href="security.html" class="options-link">Security</a></li>
                    <li><a href="help-faq.html" class="active options-link">Help & FAQ</a></li>
                </ul>
            </div>
            <div class="settings-display">

            </div>
        </main>
        <div class="push"></div>
    </div>
    <footer class="footer">
        <p>Footer Page</p>
        <p>Copyright 2020 &copy;</p>
    </footer>
</body>
</html>