<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/content-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <title>Profile Page</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header">
                <a href="#" class="icon-link">MeePo</a>
                <a href="#" class="profile-link">Profile</a>
            </div>
        </header>
        <main class="main">
            <div class="options">
                <ul class="options-links">
                    <li class="active"><a href="index.html" class="active options-link">Profile Settings</a></li>
                    <li><a href="clubs-activities.html" class="options-link">Clubs & Activities</a></li>
                    <li><a href="security.html" class="options-link">Security</a></li>
                    <li><a href="help-faq.html" class="options-link">Help & FAQ</a></li>
                </ul>
            </div>
            <div class="settings-display">
                <div class="content">
                    <ul class="content-list">
                        <!-- First Name -->
                        <li class="content-lists">
                            <label for="fname">First Name</label>
                            <input type="text" name="fname" class="input-box" placeholder="Andrew">
                            <button type="button" class="btn">Edit</button>
                        </li>
                        <!-- Last Name -->
                        <li class="content-lists">
                            <label for="fname">Last Name</label>
                            <input type="text" name="fname" class="input-box" placeholder="Homo">
                            <button type="button" class="btn">Edit</button>
                        </li>
                        <!-- SID -->
                        <li class="content-lists">
                            <label for="fname">SID</label>
                            <input type="text" name="fname" class="input-box" placeholder="1155111122">
                            <button type="button" class="btn">Edit</button>
                        </li>
                        <!-- Email -->
                        <li class="content-lists">
                            <label for="fname">Email</label>
                            <input type="text" name="fname" class="input-box" placeholder="andrew@link.cuhk.edu.hk">
                            <button type="button" class="btn">Edit</button>
                        </li>
                    </ul>
                </div>
                <div class="image-content">
                    <div class="image-container">
                        <img src="images/avatar.webp" alt="avatar" class="img">
                    </div>
                    <button class="btn2">Change Picture</button>
                    <button class="btn2">Delete Picture</button>
                </div>
            </div>
        </main>
        <div class="push"></div>
    </div>
    <footer class="footer">
        <p>Footer Page</p>
        <p>Copyright 2020 &copy;</p>
    </footer>
</body>
</html>